<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>Shape Search</string>
	<key>Pages</key>
	<array>
		<string>01-GuessTheShape.playgroundpage</string>
		<string>02-TestForAttribute.playgroundpage</string>
		<string>03-FindTheBestQuestion.playgroundpage</string>
		<string>04-DimWrongShapes.playgroundpage</string>
		<string>05-PlaygroundPlaysTheGame.playgroundpage</string>
	</array>
</dict>
</plist>
